<div style="padding: 10px 0;clear: both;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;"><em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>评价选择：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
            <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" style="font-size: 100%;"/>
                <em></em> 
                学生互评
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" />
                <em></em> 
                学生互评
            </label>
             <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" />
                <em></em> 
                学生互评
            </label>
             <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" />
                <em></em> 
                学生互评
            </label>
        </div>
        <div style="color: red;height: 15px;display: block;"></div>
    </div>
</div>
