<form id="configForm" novalidate="novalidate">
    <input type="hidden" name="category" value="" />
    <input type="hidden" name="fieldId" value="${field.id!''}" />
    <input type="hidden" name="fieldTypeCode" value="${field.fieldType.code!''}" />
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>字段名称：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="label" value="${field.label!''}" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div id="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>字段编码：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="code" value="${field.code!''}" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div id="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
    
    <div style="padding: 10px 0;
    clear: both;
    width: 50%;
    overflow: hidden;
    float: left;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;"><em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>必填字段：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
    	<#if (field.required)??&&field.required>
    		<label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="required" checked="checked" value="1" style="font-size: 100%;"/>
                <em></em> 是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="required" value="0" />
                <em></em>  否
            </label>
    	<#else>
    		<label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="required" value="1" style="font-size: 100%;"/>
                <em></em> 是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="required" checked="checked" value="0" />
                <em></em>否
            </label>
    	</#if>
        </div>
        <div id="errormsg" style="color: red;display: block;"></div>
    </div>
    </div>
    <div style="padding: 10px 0;">
    <div
        style="float: left; line-height: 33px; color: #333; font-size: 14px; text-align: right;"><em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>一行两列：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
    <#if (field.columns)??&&field.columns == 2>
    	 <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="columns" checked="checked" value="2" style="font-size: 100%;"/>
                <em></em>   是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="columns" value="1" />
                <em></em>  否
            </label>
    <#else>
    	 <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="columns" value="2" style="font-size: 100%;"/>
                <em></em> 是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="radio" name="columns" checked="checked" value="1" />
                <em></em>  否
            </label>
    </#if>
        </div>
        <div id="errormsg" style="color: red;display: block;"></div>
    </div>
    </div>
    
    
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;"></em>验证代码：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="validation" value="${field.validation!''}" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div id="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
    
     <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>可选项：
        </div>
        <div style="display: inline-block;">
			<textarea name="options"
				style="display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 5px; font-size: 12px; color: #666; resize: none;"
				rows="6" cols="55" placeholder=""></textarea>
			<div id="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
    
    <div style="text-align:center">
		<input type="button" id="saveBtn"
			style="border-radius: 3px; border: 0; cursor: pointer; height: 30px; padding: 0 15px; font-size: 14px; background: #00b8ac; color: #fff;"
			value="保存"> 
		<input type="button" id="backBtn"
			style="border-radius: 3px; border: 0; cursor: pointer; height: 30px; padding: 0 15px; font-size: 14px; background: #ededed; color: #666;"
			value="返回">
	</div>
</form>
<script type="text/javascript">
$(function(){
	var formId = $('input[name=formId]').val();
	$('#saveBtn').click(function(){
		$('#configForm').submit();
	});
	
	$('#configForm').validate({
		rules: { 
			label	: {required: true}, 
			code	: {required: true,checkCode:"[name=code]"}, 
			required		: {required: true}, 
			columns		: {required: true}
        },
        messages:{
        	label:{
				required: "字段编码不能为空！"// 验证未通过的消息
			},
			code:{
				required: "字段名称不能为空！"// 验证未通过的消息
			},
			required:{
				required: "必填字段不能为空！"// 验证未通过的消息
			},
			columns:{
				required: "请选择一行两列！"// 验证未通过的消息
			}
        },
        submitHandler : function() {
        	var param = {
    				formId:formId,
    				label:$('input[name=label]').val(),
    				code:$('input[name=code]').val(),
    				required:$('input[name=required]:checked').val(),
    				columns:$('input[name=columns]:checked').val()
    		};
    		var options = $('[name=options]').val();
    		if(options){
    			param.options = options;
    		}
    		var validation = $('input[name=validation]').val();
    		if(validation){
    			param.validation = validation;
    		}
    		var fieldId = $('input[name=fieldId]').val();
    		var fieldTypeCode = $('input[name=fieldTypeCode]').val();
    		if(fieldId){
    			param.id = fieldId;
    		}
    		if(fieldTypeCode){
    			param['fieldType.code'] = fieldTypeCode;
    		}
    		$.post('${basePath}/back/dynamicForm/saveSelectField.do',param,function(res){
    			if(res.success){
    				popBox.msg('新增成功！',function(){
	    				self.parent.location.href = '${basePath}/back/dynamicForm/listTemplateField.do';
	    				popBox.close('editFieldView');
    				});
    			}else{
    				popBox.msg('新增失败！');
    			}
    		});
    		return false;
        },
        errorPlacement: function (error, element) {
			  error.appendTo(element.parent().find("#errormsg"));
		}
	});
	
	//字段code重复校验
	$.validator.addMethod("checkCode",function(value,element){
		var flag = false;
		$.ajax({
					type: "post",
					url : "${basePath}/back/dynamicForm/checkCodeOnly.do",
					data: {"code":value},
					dataType: "json", 
					async:false,
					success: function(data){ //不重复返回true
						flag=data.flag;
					}
					
		});
		return flag
	},"字段编码已被占用");
	
	
	$('#backBtn').click(function(){
		popBox.close('editFieldView');
	});
	
	var initOptions = "${field.options!''}";
	if(initOptions){
		$('[name=options]').val(initOptions);
	}
});
</script>