<#assign jsonOpts={field.options!'{}')?eval />
<div style="padding: 10px 0;clear: both;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>${field.label!''}：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
    	<select name="${field_name_prefix}${field.code}" style="display: inline-block; zoom: 1; vertical-align: middle; padding: 5px 0; border: 1px solid #ddd; background: #fff; color: #666;">
    	<#list jsonOpts as opt>
    		<#list opt?keys as key> 
    			<option value="${key}">
    				${opt[key]}
    			</option>
            </#list>
    	</#list>
    	</select>
        </div>
        <div style="color: red;height: 15px;display: block;"></div>
    </div>
</div>
