<style>
<!--
.swfupload {
margin-left: -76px;
}
.uploadify-queue {
display: none;
}
.btnfilediv {
    width: 60px;
    height: 60px;
    line-height: 56px;
    position: relative;
    float: left;
    background: #F8F8F8;
    text-align: center;
}
-->
</style>
<div style="padding: 10px 0;clear: both;white-space: nowrap;">
 	<div
        style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;"><#if field.required>*</#if></em>${field.label!''}：
    </div>
    <div style="display: inline-block; line-height: 33px; font-size: 14px;">
        <div data-content="content" style="position: relative; display: inline-block; zoom: 1; vertical-align: middle;">
            <textarea readonly="readonly" id="dynamicTextarea" <#if field.required>required="required"</#if> cols="${field.width!20}" rows="${field.height!5}" data-validator="${field.validation!''}"
                maxlength="${field.maxSize!140}"
                style="display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 5px; font-size: 12px; color: #666; resize: none;">${field.defaultValue!''}</textarea>
			<input type="hidden" id="dynamicTextareaUploadHidden" name="${field_name_prefix}${field.code}" value='${fieldValue.val!''}'>
            <div name="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
</div>
<div class="inputbox clearfix">
    <div class="proname"></div>
    <div class="procontent">
        <div class="uploadfile" id="dynamicTextareaFiles">
            <div class="btnfilediv">
                <a href="javascript:;" class="btnfile btnaddfile"> <em class="icon-add"></em>
                <p>附件上传</p></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var dynamicAddAttachmentTextarea = function(){
		var markFileIds = [];
		var fileArgs = [];
		var fileHiddenArray = [];
		var hiddenObj = {};
		var attStr = $('#dynamicTextareaUploadHidden').val();
		if(attStr){
			hiddenObj = JSON.parse(attStr);
			fileHiddenArray = hiddenObj.attachments;
			var textareaVal = hiddenObj['textarea'];
			if(textareaVal){
				$('#dynamicTextarea').val(textareaVal);
			}
			if(fileHiddenArray&&fileHiddenArray.length>0){
				$.each(attJson,function(i,n){
					var timestamp = new Date().getTime();
					markFileIds.push(timestamp+"");
					fileArgs[timestamp] = n;
					//处理缩略图
					var faceUrl = getShortCutUrl(n, getFileExtension(n.name));
					var html = 
						"<a href=\"javascript:;\" class=\"btnfile\" name=\"aHref\" title=\""+n.name+"\">" +
						"<input type=\"hidden\" name=\"fileId\" value=\""+timestamp+"\">"+
						"<input type=\"hidden\" name=\"originalFileId\" value=\""+n.originalFileId+"\">"+
						"<img src=\""+faceUrl+"\" width=\"46\" height=\"46\" alt=\"\">" +
						"</a>";
						$("#dynamicTextareaFiles").prepend(html);
					bindAttachView();
					checkUploadCount();
				});
			}
		}
		
		var bindAttachView = function() {
			$("#dynamicTextareaFiles").find("a[name='aHref']").each(function() {
				$(this).unbind("click");
				$(this).click(function(e) {
					viewAttach($(this), e);	
				});
			});
		};
		//弹窗预览附件
		var viewAttach = function(obj, e) {
			if ($(e.target).prop("tagName") == "LI" || $(e.target).prop("tagName") == "li") {
				return;
			}
			var timestamp = $(obj).find("input[name='fileId']").val();
			var file = fileArgs[timestamp];
			var param = 
				"name="+encodeURIComponent(file.name)+
				"&conversionFileId="+encodeURIComponent(file.conversionFileId)+
				"&originalFileId="+encodeURIComponent(file.originalFileId);
			var url = "${basePath}/back/growthRecord/viewAttach.do?"+param;
			popBox.alert({
				name:"viewAttach",
				url:url,
				width:"900px",
				height:"570px"
			});
		};
		//获取缩略图
		var getShortCutUrl = function(file, extension) {
			var faceUrl = "";
			if (file == null) {
				return faceUrl;
			}
			if (file.fileType == 1) {
				faceUrl = "${basePath}/back/user/getUserPhotoTemp.do?fileId=" + file.originalFileId;
			} else if (file.fileType == 2) {
				if (extension == 'doc' || extension == 'docx') {
					faceUrl = "${basePath}/static/images/icon/ico_word.png";
				} else if (extension == 'xls' || extension == 'xlsx') {
					faceUrl = "${basePath}/static/images/icon/ico_excel.png";
				} else if (extension == 'ppt' || extension == 'pptx') {
					faceUrl = "${basePath}/static/images/icon/ico_ppt.png";
				} else if (extension == 'pdf') {
					faceUrl = "${basePath}/static/images/icon/ico_pdf.png";
				} else {
					faceUrl = "${basePath}/static/images/icon/ico_file.png";
				}
			} else if (file.fileType == 3) {
				faceUrl = "${basePath}/static/images/icon/ico_voice.png";
			} else if (file.fileType == 4) {
				faceUrl = "${basePath}/static/images/icon/ico_video.png";
			}
			return faceUrl;
		};
		
		var checkUploadCount = function() {
			//附件数量限制
			if (markFileIds.length < ${(field.fileNum)!6}) {
				$("#dynamicTextareaUpload").parent().show();
			} else {
				$("#dynamicTextareaUpload").parent().hide();
			}
		};
		function getFileExtension(fileName){
			if(!fileName){
				return null;
			}
			var index = fileName.lastIndexOf('.');
			if (index == -1) {
	            return "";
	        } else {
	            return fileName.substring(index + 1);
	        }
		}
};
$(function(){
	dynamicAddAttachmentTextarea = dynamicAddAttachmentTextarea();
})
</script>