<div style="padding: 10px 0;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>起止时间：
    </div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <input type="text" name="startTime_f" value=""
            onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d',maxDate:'#F{$dp.$D(\'endTime\')}',isShowClear:false,readOnly:true})"
            readonly=""
            style="font-size: 14px; border: #999 1px solid; height: 27px; background: #fff url(http://127.0.0.1:8080/sz-edu-archive-web/static/quest/plugin/My97DatePicker/skin/datePicker.gif) no-repeat right; display: inline-block; zoom: 1; vertical-align: middle; padding: 6px 5px; color: #666;">
        <div style="color: red; height: 15px;"></div>
    </div>
</div>