<#if field.columns==1>
<div style="padding: 10px 0;clear: both;white-space: nowrap;">
<#else>
<div style="padding: 10px 0;float: left;width: 50%;white-space: nowrap;">
</#if>
    <div
        style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;"><#if field.required>*</#if></em>${field.label!''}：
    </div>
    <div style="display: inline-block; line-height: 33px; font-size: 14px;">
        <div data-content="content" style="position: relative; display: inline-block; zoom: 1; vertical-align: middle;">
            <textarea name="${field_name_prefix}${field.code}" cols="${field.width!20}" rows="${field.height!5}"
                maxlength="${field.maxSize!140}" readonly="readonly"
                style="display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 5px; font-size: 12px; color: #666; resize: none;">${fieldValue.val!(field.defaultValue!'')}</textarea>
            <div name="errormsg" style="color: red;display: block;"></div>
        </div>
    </div>
</div>

