<form action="save.do" method="post" novalidate="novalidate">
    <input type="hidden" name="formId" value="${formId}" />
    <input type="hidden" name="category" value="${formId}" />
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>字段名称：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="name" value="" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div></div>
        </div>
    </div>
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>字段编码：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="name" value="" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div></div>
        </div>
    </div>
    
    <div style="padding: 10px 0;clear: both;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;"><em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>必填字段：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
            <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" style="font-size: 100%;"/>
                <em></em> 
                是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" />
                <em></em> 
                否
            </label>
        </div>
        <div style="color: red;height: 15px;display: block;"></div>
    </div>
    </div>
    <div style="padding: 10px 0;clear: both;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;"><em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>一行两列：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
            <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" style="font-size: 100%;"/>
                <em></em> 
                是
            </label>
           <label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
                <input id="evalSel0" type="checkbox" name="evalSel" value="0" />
                <em></em> 
                否
            </label>
        </div>
        <div style="color: red;height: 15px;display: block;"></div>
    </div>
    </div>
    
    
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>默认值：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="name" value="" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div></div>
        </div>
    </div>
    
    <div style="padding: 10px 0;clear: both;">
        <div
            style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
            <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>提示信息：
        </div>
        <div style="display: inline-block;">
            <input type="text" name="name" value="" maxlength="30"
                style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
            <div></div>
        </div>
    </div>
</form>
