<div>
    <div style="display: inline-block;">
        <em>${field.required?'*':''}</em>${field.label}：
    </div>
    <div style="display: inline-block;">
        <input type="text" name="${field_name_prefix}${field.code}" value="${field.defaultValue}"
            maxlength="${field.maxSize}"
            style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
        <div></div>
    </div>
</div>
