<div style="padding: 10px 0;clear: both;">
    <div
        style="display: inline-block; float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right; word-wrap: break-word;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>
        ${field.label!''}:
    </div>
    <div style="display: inline-block;">
        <input type="text" name="${field_name_prefix}${field.code}" value="${field.defaultValue}"
            maxlength="${field.maxSize}"
            style="font-size: 14px; width: 343px; display: inline-block; zoom: 1; vertical-align: middle; border: 1px solid #ddd; background: #fff; padding: 6px 5px;">
        <div></div>
    </div>
</div>
