<#assign jsonOpts=(field.options!'[]')?eval />
<div style="padding: 10px 0;clear: both;">
    <div
        style="float: left; width: 120px; line-height: 33px; color: #333; font-size: 14px; text-align: right;">
        <em style="padding-right: 5px; color: #f00; font-style: normal; font-weight: 500;">*</em>${field.label!''}：</div>
    <div style="margin-left: 120px; line-height: 33px; font-size: 14px;">
        <div style="margin: 0; padding: 0;line-height: 33px;
    font-size: 14px;">
    	<#list jsonOpts as opt>
    		<#list opt?keys as key> 
	    		<label style="margin-left: 12px; line-height: 33px; font-size: 14px;"> 
	                <input type="radio" name="${field_name_prefix}${field.code}" value="${key}" style="font-size: 100%;"/>
	                <em></em> ${opt[key]}
	            </label>
            </#list>
    	</#list>
        </div>
        <div style="color: red;height: 15px;display: block;"></div>
    </div>
</div>
